


    
        <div class="col-md-2">
            
        </div>
        
   

        
            <div class="col-md-10">
                <%=render 'layouts/genres'%>
            </div>
        
       

    





<% if logged_in? %>
    <%= render 'records/record_form' %>
<% end %>



