


    
      
   

        
            <div class="col-md-12 home-items-container">
                <%=render 'layouts/genres'%>
            </div>
           

           
                <%=render 'layouts/records'%>
            
        
       

    









