


    <div class="row">
        <div class="col-md-2">
            <p>this should be blank</p>
        </div>
        <div class="col-md-10 border-bottom border-dark">
            <h3>Genres</h3>
        </div>

    </div>





<% if logged_in? %>
    <%= render 'records/record_form' %>
<% end %>



