/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
     font-family: 'Montserrat';
     src: url('path-to/../../fonts/Montserrat-Light.ttf');
 }

body {
    overflow-x: hidden;
    font-family: 'Montserrat';

}

h1 {
    font-family: 'Montserrat';
}


.logo {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
}

a.logo-link:hover {
    background-color: #363333;
}

.sidenav {
    background-color: #363333;
    color: white;
    height: 100vh;
    position: fixed  !important;
    z-index: 10;
    padding-right: 0 !important;
}

.nav {
    
    padding-top: 50px;
}

.nav-item {
    width: 50%;
    height: 80px;
    margin-left: 50%;
}

.nav-link {
    font-size: 18px;
    text-align: right;
    font-family: 'Montserrat'
}

a.nav-link {
    color: white;
    text-decoration: none;
    height: 100%;
}

.home-items-container {
    padding-right: none !important;
}

.featured-records {
    padding-right: none !important;
}


a.sell {
    color: #363333;
    background: linear-gradient(to left, white 50%, #363333 50%) right;
    background-size: 200%;
    transition: .5s ease-out
}

a.sell:hover {
    background-position: left;
    color: white;
}

a.popular {
    color: #363333;
    background: linear-gradient(to left, #D4D0D0 50%, #363333 50%) right;
    background-size: 200%;
    transition: .5s ease-out
}

a.popular:hover {
    background-position: left;
    color: #D4D0D0;
}

a.log {
    color: #363333;
    background: linear-gradient(to left, #BBB9B9 50%, #363333 50%) right;
    background-size: 200%;
    transition: .5s ease-out
}

a.log:hover {
    background-position: left;
    color: #BBB9B9;
}

a.sign {
    color: #363333;
    background: linear-gradient(to left, #8D8D8D 50%, #363333 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

a.sign:hover {
    background-position: left;
    color: #8D8D8D;
}

a.addGenre {
    background-color: #363333;
    color: white;
    background: linear-gradient(to left, #F44336 50%,  white 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

a.addGenre:hover {
    background-position: left;
    color: #363333;
}

.navbar {
    background-color: #363333;
    
}

.navbar-brand {
    width: 20%;
}

.mobile-logo {
    width: 100%;
}

.navbar-toggler {
    color: white;
}

.cart-button.btn {
    color: white;

}



.tiny-nav {
    list-style-type: none;
    font-family: 'Montserrat';
    font-size: 15px;
    padding-top: 10px;
}

.tiny-nav-item {
    width: 50%;
    margin: 0 auto;
}

.tiny-nav-button:hover{
    background-color: #67C2B6;
    color: white;
}

.search-bar {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 25px;
}

.card {
    margin-top: 10px;
    font-family: 'Montserrat';
}

.card-img-overlay{
    opacity: 70%;
    background: linear-gradient(to left, white 50%, #363333 50%) right;
    background-size: 200%;
    transition: .3s ease-in-out
}

.card-img-overlay:hover{
    background-position: left;
    color: white;
}



.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}


.btn-submit {
    background-color: #67C2B6 !important;
    color: white !important;
}

@media screen and (min-width: 577px){
    nav.navbar {
        display: none;
    }

    .mobile-buffer {
        display:none;
    }

}

@media screen and (max-width: 576px){

    .sidenav{
        display: none;
    }

    .card-img-top{
        height: 30vh;
    }

    .tiny-nav-item {
        display: none;
    }

  

    



}
