<div class="col-md-12 border-bottom border-dark">
            
        
        <h1>Genres</h1>

        

</div>

<div class="col-md-12">

 <div class="genres pt-3">  
        <% @genres.limit(16).order(:id).each_slice(4) do |slice| %>
        <div class="row">
            <% slice.each do |genre| %>
                <div class="col-6 col-md-3">
                
                    <div class="card text-center">
                    
                                

                            
                            
                                <% if genre.image_url.attached? %>
                                    <a href="/genre/<%= genre.title %>" class="button">
                                        <img src="<%=(url_for(genre.image_url))%>" class="card-img-top">
                                        <div class="card-img-overlay">
                                            <h3 class="cart-title"><%= genre.title %></h3>
                                        </div>
                                    </a>

                                <% end %>

                    </div>
                </div>
                <% end %>
            
        </div>
    <% end %>

</div>
