<div class="row">
<div class="col-6">
<table id="customers">
    
    <% @order.order_items.each do |id,quantity| %>
      <tr>
        <% item = @order.order_items.last %>
       
        <td><h5><%= item.title %></h5></td>

        <td><h6><%= item.artist %></h6></td>

        
        <td><%= item.quantity %></td>
        
   
       <td><%= number_to_currency(item.price, :unit => "€") %></td> 

       
       
       </tr>
       
      
     
    <%end%>
    
    
   

       
      </tr>
</table>
</div>
</div>